@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 100%;
    background-color: aqua;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.contents {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(243, 227, 6);
    background-color: rgb(255, 255, 255);
    /* gap: 20px; */
    padding: 10px;

}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-top: 10px;

}

.name-tagline {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(223, 26, 26, 0);
}


.name-tagline h1 {
    font-size: 35px;
    color: rgb(0, 0, 0);

    text-align: center;
}

.name-tagline p {
    font-size: 18px;
    color: rgb(0, 0, 0);

    text-align: center;
}

.search-bar {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(223, 26, 223, 0);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    gap: 10px;
}

.search-bar ion-icon {
    font-size: 30px;
    color: rgb(0, 0, 0);

}

.header input[type="text"] {
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 242, 242);
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    font-family: Lato;
}


.links-cart {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10px; */
    background-color: rgba(26, 223, 223, 0);
}

.links-cart ion-icon {
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-dropdown-content img {
    margin-right: 10px;
}

.menu-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover.menu-dropdown-content {
    display: block;
}





.body {
    width: 100%;
    min-height: 75vh;
    /* height: 2000px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    background-color: rgb(255, 255, 255);
    gap: 10px;
    border-radius: 10px;
    margin-top: 20px;
}


/* .left-nav-pane {
    width: 20%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: start;
    background-color: rgb(65, 25, 243);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(153, 155, 155);


}

.left-nav-pane h3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 10px;

} */

.category-card {
    width: 95%;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgb(255, 251, 254);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(153, 155, 155);
    margin-top: 5px;
    margin-bottom: 5px;

}

.category-card p {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-left: 10px;

}




.right-display-port {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 25, 207);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(172, 171, 171); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.dynamic-island {
    width: 98%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

}

.home {
    width: 100%;
    min-height: 75vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(245, 7, 7, 0);

    margin-top: 10px;
    margin-bottom: 10px;
}

.landing-hero {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.849);
    margin-top: 10px;
    margin-bottom: 50px;
}

.landing-hero video {
    width: 1270px;
    height: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}

.landing-hero h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.landing-hero p {
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}


.products {
    width: 100%;
    min-height: 75vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(153, 155, 155);
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-card-grid {
    width: 100%;
    min-height: 75vh;
    display: grid;
    row-gap: 20px;

    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
    align-items: start;
    background-color: #ffffff00;
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */

}

.product-card {
    width: 195px;
    height: 400px;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    transition: box-shadow .3s;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add subtle shadow on hover */
    padding-bottom: 10px;



}

.product-card:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-2px);
    /* Move the card up 2px on hover */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* Add subtle shadow on hover */

    box-shadow: 0 0 10px rgb(153, 155, 155);
}


.product-card img {
    width: 100%;
    height: 60%;
    /* width: 200px;
    height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(235, 217, 217);
}

.product-card p {
    font-size: 16px;
    color: rgb(7, 8, 7);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
}

.card-text {
    width: 100%;
    /* height: 25%; */
    /* height: 25%; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    background-color: rgba(216, 52, 52, 0);

}

.card-text h3 {
    font-size: 17px;
    color: rgb(0, 0, 0);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
    font-style: bold;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */

}

.card-text p {
    font-size: 16px;
    color: rgb(38, 185, 38);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
}



.card-text p {
    font-size: 16px;
    color: rgb(38, 185, 38);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
}

.product-card input[type="button"] {
    width: 70%;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #000000, #000000);
    padding: 0px 20px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
    padding: 10px 0px;
    font-family: Lato;
    color: rgb(255, 255, 255);
    margin-top: 5px;


}

.footer {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    margin-top: 20px;
    margin-bottom: 0px;
}

.footer-content {
    width: 100%;
    height: 80%;
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 217, 255, 0);
    margin-top: 20px;
    margin-bottom: 20px;

}

.company {

    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(153, 155, 155);
    */

}

.company h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    align-self: center;
    font-weight: 700;
    font-style: bold;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */
}

.company p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    align-self: center;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 10px;
}

.footer-links {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    gap: 10px;

}




.footer-links h3 {
    font-size: 17px;
    color: rgb(0, 0, 0);
    align-self: center;
    font-weight: 700;
    font-style: bold;
    text-overflow: ellipsis;
    margin-top: 20px;
    /* Truncate with ellipsis */
}

.footer-links ul {
    list-style-type: none;
    /* Remove the default bullet points */
    padding: 0;
    /* Remove the default padding */
    margin: 0;
    /* Remove the default margin */
}

.footer-links ul li a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
    font-style: bold;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */
}

.footer-links ul li a:hover {
    color: rgb(23, 72, 206);
}



.socials {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    gap: 10px;
}

.socials h3 {
    font-size: 17px;
    color: rgb(0, 0, 0);
    align-self: center;
    font-weight: 700;
    font-style: bold;
    text-overflow: ellipsis;
    margin-top: 20px;
    /* Truncate with ellipsis */
}

.socials ul {
    list-style-type: none;
    /* Remove the default bullet points */
    padding: 0;
    /* Remove the default padding */
    margin: 0;
    /* Remove the default margin */

}

.socials ul li a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
    font-style: bold;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */
}

.socials ion-icon {
    font-size: 30px;
    color: rgb(0, 0, 0);
    align-self: center;
    font-weight: 700;
    font-style: bold;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */
}

.socials ion-icon:hover {
    color: rgb(23, 72, 206);
}

.copyright {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    align-self: center;
    font-weight: 700;
    font-style: bold;
    text-overflow: ellipsis;
    margin-top: 20px;
    /* Truncate with ellipsis */
}

.copyright ion-icon {
    font-size: 20px;
    color: rgb(255, 0, 0);
    align-self: center;
    font-weight: 700;
    font-style: bold;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */
}








/* *************************STYLING FOR CART VIEW************************** */

.cart-view {
    width: 100%;
    min-height: 75vh;
    display: none;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    background-color: rgba(24, 180, 19, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    margin-top: 10px;
    margin-bottom: 10px;
}


.cart-left {
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgba(212, 20, 20, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    /* margin-top: 10px;
    margin-bottom: 10px; */

}

.cart-left h1 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-item-card {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(153, 155, 155);
    margin-top: 5px;
    margin-bottom: 5px;
}


.cart-item-card img {
    width: 125px;
    height: 180px;
    border-radius: 10px;
}

.card-content {
    width: 70%;
    /* height: 170px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
    background-color: rgba(46, 173, 57, 0);
}

.card-content ion-icon {
    font-size: 30px;
    color: rgb(255, 0, 0);
    position: absolute;
    align-self: flex-end;
    margin: 5px 10px;

}

.card-content h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 5px;
    font-weight: 700;

}

.card-content p {
    font-size: 16px;
    color: rgb(38, 185, 38);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 0px;

}

.card-content #desc {
    font-size: 16px;
    color: rgb(0, 0, 0);
    align-self: start;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 0px;

}

.card-content span {
    font-size: 16px;
    color: rgb(0, 0, 0);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 0px;

}

.card-content h4 {
    font-size: 16px;
    color: rgb(81, 77, 83);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 0px;

}

.modify-cart {
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: start;
    justify-content: start;
    background-color: rgba(58, 214, 206, 0);
    /* margin-top: 10px; */

}

.modify-cart #btnMinus {
    width: 30px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-image: linear-gradient(to right, #000000, #000000);
    padding: 0px 20px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
    padding: 10px 0px;
    font-family: Lato;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}



.modify-cart span {
    /* width: 20px; */
    margin-top: 5px;

    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(0, 0, 0);
    align-content: center;
}

.modify-cart #btnPlus {
    width: 30px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    background-image: linear-gradient(to right, #000000, #000000);
    padding: 0px 20px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
    padding: 10px 0px;
    font-family: Lato;
    color: rgb(255, 255, 255);
    margin-top: 5px;
}











.cart-right {
    width: 47%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgba(13, 233, 233, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    /* margin-top: 10px;
    margin-bottom: 10px; */

}

.cart-total {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(192, 24, 24, 0);
    box-shadow: 0 0 10px rgb(153, 155, 155);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.cart-right h1 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-total h3 {
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-total input[type="button"] {
    width: 70%;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #000000, #000000);
    padding: 0px 20px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
    padding: 10px 0px;
    font-family: Lato;
    color: rgb(255, 255, 255);
    margin-top: 5px;

}


/* ************************STYLING FOR AUTH VIEW*******************8 */


.auth-view {
    width: 100%;
    min-height: 75vh;
    display: none;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.925);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    margin-top: 10px;
    margin-bottom: 10px;
}

.auth-left {
    width: 45%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgba(255, 238, 0, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px 0px 30px 0px;
}

.auth-left form {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(243, 243, 243, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.auth-left form input[type="text"] {
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 230, 230);
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    font-family: Lato;
}

.auth-left form input[type="password"] {
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 230, 230);
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    font-family: Lato;
}

.auth-left form input[type="button"] {
    width: 70%;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #000000, #000000);
    padding: 0px 20px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
    padding: 10px 0px;
    font-family: Lato;
    color: rgb(255, 255, 255);
    margin-top: 5px;


}








.auth-right {
    width: 45%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgba(19, 148, 180, 0);
    box-shadow: 0 0 10px rgb(153, 155, 155);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0px 30px 0px 30px;
}

/* tyttretr */
.auth-right form {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(243, 243, 243, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.auth-right form input[type="text"] {
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 230, 230);
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    font-family: Lato;
}

.auth-right form input[type="password"] {
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 230, 230);
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    font-family: Lato;
}

.auth-right form input[type="button"] {
    width: 70%;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #000000, #000000);
    padding: 0px 20px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
    padding: 10px 0px;
    font-family: Lato;
    color: rgb(255, 255, 255);
    margin-top: 5px;


}

/* ******************************************STYLING FOR PRODUCT VIEW***************************************/
.prod-view {
    width: 100%;
    min-height: 75vh;
    display: none;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    background-color: rgba(255, 0, 255, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    margin-top: 10px;
    margin-bottom: 10px;
}

.prod-left {
    width: 30%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgba(255, 238, 0, 0);
    box-shadow: 0 0 10px rgb(153, 155, 155);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 30px 0px 30px 0px;
}

.prod-left form {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(243, 243, 243, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.prod-left form input[type="text"] {
    width: 80%;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 230, 230);
    font-weight: 500;
    font-size: 18px;
    padding: 12px 10px;
    font-family: Lato;
}

.prod-left form input[type="button"] {
    width: 70%;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #000000, #000000);
    padding: 0px 20px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
    padding: 10px 0px;
    font-family: Lato;
    color: rgb(255, 255, 255);
    margin-top: 5px;


}








.prod-right {
    width: 65%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgba(243, 243, 243, 0);
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border-radius: 0px 30px 0px 30px; */
}

.prod-right .product-card-grid {
    width: 100%;
    min-height: 75vh;
    display: grid;
    row-gap: 20px;

    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: start;
    background-color: #ffffff00;
    /* box-shadow: 0 0 10px rgb(153, 155, 155); */

}


.prod-right .product-card {
    width: 195px;
    height: 400px;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    transition: box-shadow .3s;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add subtle shadow on hover */
    padding-bottom: 10px;



}

.prod-right .product-card:hover {
    background-color: rgb(255, 255, 255);
    transform: translateY(-2px);
    /* Move the card up 2px on hover */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* Add subtle shadow on hover */

    box-shadow: 0 0 10px rgb(153, 155, 155);
}


.prod-right .product-card img {
    width: 100%;
    height: 60%;
    /* width: 200px;
    height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(235, 217, 217);
}

.prod-right .product-card p {
    font-size: 16px;
    color: rgb(7, 8, 7);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
}

.prod-right .card-text {
    width: 100%;
    /* height: 25%; */
    /* height: 25%; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    background-color: rgba(216, 52, 52, 0);

}

.prod-right .card-text ion-icon {
    font-size: 30px;
    color: rgb(255, 0, 0);
    position: absolute;
    align-self: flex-end;
    margin: 5px 10px;

}

.prod-right .card-text h3 {
    font-size: 17px;
    color: rgb(0, 0, 0);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
    font-style: bold;
    text-overflow: ellipsis;
    /* Truncate with ellipsis */

}

.prod-right .card-text p {
    font-size: 16px;
    color: rgb(38, 185, 38);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
}



.prod-right .card-text p {
    font-size: 16px;
    color: rgb(38, 185, 38);
    align-self: start;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 10px;
}

.prod-right .product-card input[type="button"] {
    width: 70%;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #000000, #000000);
    padding: 0px 20px;
    font-weight: 600;
    font-size: 15px;
    font-style: bold;
    padding: 10px 0px;
    font-family: Lato;
    color: rgb(255, 255, 255);
    margin-top: 5px;


}















/* Responsive design */

/* Small screens */
@media only screen and (max-width:280px) {

    .product-card-grid {
        width: 100%;
        min-height: 75vh;
        display: grid;
        row-gap: 20px;
        grid-template-columns: auto;
        justify-content: space-around;
        align-items: start;
        background-color: #ffffff00;
        /* box-shadow: 0 0 10px rgb(153, 155, 155); */

    }

}

/* medium tablets */
@media only screen and (min-width: 280px) and (max-width:570px) {

    .product-card-grid {
        width: 100%;
        min-height: 75vh;
        display: grid;
        row-gap: 20px;
        grid-template-columns: auto auto;
        justify-content: space-around;
        align-items: start;
        background-color: #ffffff00;
        /* box-shadow: 0 0 10px rgb(153, 155, 155); */

    }


}

/* large tablets */
@media only screen and (min-width: 570px) and (max-width:850px) {

    .product-card-grid {
        width: 100%;
        min-height: 75vh;
        display: grid;
        row-gap: 20px;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
        align-items: start;
        background-color: #ffffff00;
        /* box-shadow: 0 0 10px rgb(153, 155, 155); */

    }


}




/* small desktops */

@media only screen and (min-width: 850px) and (max-width:1300px) {

    .product-card-grid {
        width: 100%;
        min-height: 75vh;
        display: grid;
        row-gap: 20px;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        align-items: start;
        background-color: #ffffff00;
        /* box-shadow: 0 0 10px rgb(153, 155, 155); */

    }

}

/*large desktops*/
@media only screen and (min-width: 1300px) {

    .product-card-grid {
        width: 100%;
        min-height: 75vh;
        display: grid;
        row-gap: 20px;
        grid-template-columns: auto auto auto auto auto;
        justify-content: space-around;
        align-items: start;
        background-color: #ffffff00;
        /* box-shadow: 0 0 10px rgb(153, 155, 155); */

    }

}